{% extends '_layout' %}

{% block content %}
	<div class="xl:container px-3  mx-auto mt-24">
		<h1 class="text-4xl lg:text-6xl uppercase font-bold text-center mb-2">
			{{ entry.title }}
			Page Not Found
		</h1>
	</div>
	
{% endblock %}
