<ul id="tags" class="hidden">
	{% set tags = craft.tags()
		.group('tags') %}
	{% for tag in tags.all() %}
		{% if craft.entries.section( 'termine' ).relatedTo( tag ) | length %}
			<li data-href="{{ url('events/' ~ tag.slug ) }}" data-title="{{ tag.title }}"></li>
		
		{% endif %}
	{% endfor %}
</ul>

<div id="wordcloud" class="h-full" >

</div>

<style type="text/css">

  .click-only-text {
      cursor: pointer;
    }
  .click-only-text::selection {
      background: none;
    }

  .word-default {
      fill: cadetblue;
      font-weight: normal;
    }
  .word-hovered {
      fill: teal;
      font-weight: bold;
    }
  .word-selected {
      fill: darkslategrey;
      font-weight: bold;
    }

</style>

<script src="//d3js.org/d3.v5.min.js"></script>
<script src="//unpkg.com/d3-array@2"></script>
<script src="//unpkg.com/d3-cloud@1"></script>
<script>
function createWordCloud(data, selector) {

	//https://codepen.io/znak/pen/rOgXoV
  const parent = d3.select(selector);
  if(!parent) return;
  const { width, height } =  parent.node().getBoundingClientRect();
console.log(width, height, selector)
  if (height === 0) return;


const fill = d3.scaleOrdinal(d3.schemeCategory10);;
  const s = d3.scaleSqrt()
    .domain([1, d3.max(data.map(d => d.value))])
    .range([6, 82]);
  const fontFamily = "Verdana, Arial, Helvetica, sans-serif";
  
  const svg = parent.append("svg")
    .attr("id", "word-cloud")
    .attr("viewBox", [0, 0, width, height])
    .attr("font-family", fontFamily)
.style("fill", function(d, i) { return fill(i); })
    .attr("text-anchor", "middle");

  const displaySelection = svg.append("text")
    .attr("font-family", "Lucida Console, Courier, monospace")
    .attr("text-anchor", "start")
    .attr("alignment-baseline", "hanging")
    .attr("x", 10)
    .attr("y", 10);

    
  const cloud = d3.layout.cloud()
    .size([width, height])
    .words(data.map(d => Object.create(d)))
    .padding(Math.random() * 2 + 1)
    //.rotate(() => Math.random() * 90 - 45)
.rotate(function() { return ~~(Math.random() * 2) * 90; })
    .font(fontFamily)
    .fontSize(d => s(d.value))
    .on("word", ({size, x, y, rotate, text}) => {
      svg.append("text")
        .attr("font-size", size)
        .attr("transform", `translate(${x},${y}) rotate(${rotate})`)
        .text(text)
        .classed("click-only-text", true)
        .classed("word-default", true)
        .on("mouseover", handleMouseOver)
        .on("mouseout", handleMouseOut)
        .on("click", handleClick);
        function handleMouseOver(d, i) {
          d3.select(this)
            .classed("word-hovered", true)
            .transition(`mouseover-${text}`).duration(200).ease(d3.easeLinear)
              .attr("font-size", size + 2)
              .attr("font-weight", "bold");
        }
        
        function handleMouseOut(d, i) {
          d3.select(this)
            .classed("word-hovered", false)
            .interrupt(`mouseover-${text}`)
              .attr("font-size", size);
        }
        
        function handleClick(d, i) {
          var e = d3.select(this);
//https://test.whoosh.wien/events/education
          displaySelection.text(`selection="${e.text()}"`);
          e.classed("word-selected", !e.classed("word-selected"));
        }
    });
  
  cloud.start();

}

  const tags = d3.selectAll('#tags > li').data(d => d.attr('data-title'))
 const t = tags.each(t => t.attr('data-title'))
console.log('tags', tags.size(), tags.attr('data-title'))
  const data = [ {text:'education', value: 2}, {text: 'you', value: 3}, {text: 'so', value: 2}]

  createWordCloud(data, '#wordcloud')

</script>
