{% set bodyClass = "start" %}
{% extends '_layout' %}

{% block content %}
	
	<div class="min-h-screen flex flex-col justify-center">
		
		<img src="/assets/whoosh-logo.svg" class="block mx-auto my-16 px-4" alt="Whoosh Logo">
		
		<div class="xl:container mx-auto px-4 lg:px-8 pb-8">
			<div class="introText text-xl md:text-3xl lg:text-4xl text-center ">
				{{ start.introText | nl2br }}
			</div>
		
		</div>
		<div class="container h-64 mx-auto max-w-2xl">
			{% include '_wordcloud' with {
				class: "text-xl flex",
				subclass: "px-2 hover:underline"
			} %}
		</div>
	</div>
	
	<div class="xl:container px-3 mx-auto px-4">
		<div class="termine">
			
			{% set termine = craft.entries
				.section('termine')
				.startdatum( '>=' ~ now | date('Y-m-d') )
				.orderBy( 'startdatum asc' ).limit( 4 ) %}
			
			<ul class="border p-2 border-black border-solid border-r-0 border-b-0 border-l-0 max-w-4xl mx-auto">
				{% for termin in termine.all() %}
					
					{% include 'events/preview' with {
						liclass: "py-2",
						imgclass: "w-40"
					} %}
				
				{% endfor %}
			</ul>
			<br>
			
			<div class="text-center text-3xl">
				<a href="{{ url('events') }}">All Events...</a>
			</div>
		</div>
	</div>
{% endblock %}
