{% set bodyClass = "start" %}
{% extends '_layout' %}

{% block content %}

		
	<div class="h-screen flex flex-col justify-center">
	
		<img src="/assets/whoosh-logo.svg" class="block mx-auto px-4" alt="Whoosh Logo">
		
		<div class="xl:container px-3 mx-auto lg:px-4">
			<div class="introText text-xl md:text-3xl lg:text-4xl text-center p-4 md:p-16 pt-8 md:pt-16">
				{{ start.introText | nl2br }}
			</div>
			
		</div>
<div class="container h-32 mx-auto" >
		{% include '_wordcloud' with {
				class: "text-xl flex",
				subclass: "px-2 hover:underline"
			} %}
</div>
	</div>
	
	<div class="xl:container px-3 mx-auto px-4">
		<div class="termine">
			
			{% set termine = craft.entries
				.section('termine')
				.startdatum( '>=' ~ now | date('Y-m-d') )
				.orderBy( 'startdatum asc' ).limit( 4 ) %}
			
			<ul class="border border-black border-solid border-r-0 border-b-0 border-l-0 max-w-3xl mx-auto">
				{% for termin in termine.all() %}
					
					{% include 'events/preview' %}
					
				{% endfor %}
			</ul>
			<br>
			
			<div class="text-center">
				<a href="{{ url('events') }}">Alle Events</a>
			</div>
		</div>
	</div>
{% endblock %}
