{% set bodyClass = "events" %}
{% extends '_layout' %}

{% block content %}
	
	{% set activeTag = "" %}
	{% if craft.app.request.segments|last != "events" %}
		{% set slug = craft.app.request.segments|last %}
		{% set activeTag = craft.tags().group('tags').slug( slug ).one %}
	{% endif %}
	
	
	<div class="xl:container px-3 mx-auto mt-24">
		<h1 class="text-4xl lg:text-6xl uppercase font-bold text-center">Events</h1>
		
		<div class="flex justify-center my-12 ">
			<button id="showUpcomingEvents" class="px-2 m-2 font-semibold bg-blue text-white hover:bg-blue hover:text-white py-2 px-4 border border-blue rounded">Upcoming</button>
			<button id="showPastEvents" class="px-2 m-2 font-semibold bg-transparent text-blue hover:bg-blue hover:text-white py-2 px-4 border border-blue rounded">Past</button>
		</div>
		
		<!--
		<ul class="flex justify-center flex-wrap my-12">
			{% set tags = craft.tags()
				.group('tags') %}
			
			{% for tag in tags.all() %}
				{% if craft.entries.section( 'termine' ).relatedTo( tag ) | length %}
					
					<li class="px-2"><a class="hover:text-blue " href="{{ url('events/' ~ tag.slug ) }}">{{ tag.title }}</a></li>
				
				{% endif %}
			{% endfor %}
		</ul>
		-->
		<div class="container h-32 mx-auto max-w-4xl">
			{% include '_wordcloud' with {
				class: "text-xl flex",
				subclass: "px-2 hover:underline"
			} %}
		</div>
		
		<ul id="eventsList" class="my-4 border border-black border-solid border-r-0 border-b-0 border-l-0 mx-auto max-w-4xl" data-show="upcoming">
			{% set termine = craft.entries
				.section( 'termine' )
				.relatedTo( activeTag )
				.orderBy( 'startdatum asc' ) %}
			
			{#
			{% set termine = craft.entries
				.section('termine')
				.startdatum( '>=' ~ now | date('Y-m-d') )
				.orderBy( 'startdatum asc' ) %}
			#}
			
			{% for termin in termine.all %}
				{% include 'events/preview' with {
					liclass: "py-4",
					imgclass: ""
				 } %}
			{% endfor %}
		</ul>
	</div>

{% endblock %}
